@import "tailwindcss";

@layer base {
  :root {
    --background: 40 40% 95%;
    --foreground: 28 30% 20%;
    --primary: 35 40% 85%;
    --secondary: 35 25% 75%;
    --accent: 28 50% 40%;
  }

  html {
    font-family: var(
      --font-playfair,
      ui-serif,
      Georgia,
      Cambria,
      "Times New Roman",
      Times,
      serif
    );
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
